:root {
  --bg-color: hsl(49 37% 94%);
  --typewriterSpeed: 3s;
  --typewriterCharacters: 24;
  --linkedinBlue: rgb(55, 153, 186);
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  min-height: 120vh;
  display: grid;
  place-content: center;
  text-align: center;
  background: var(--bg-color);
}


h1 {
  
  margin: auto;
  display: grid;
  place-content: center;
  font-size: clamp(1rem, 3vw + 1rem, 4rem);
  position: relative;
  font-family: "Source Code Pro", monospace;
  position: relative;
  width: max-content;
}

h1::before,
h1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h1::before {
  background: var(--bg-color);
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) 1s forwards;
}

h1::after {
  width: 0.125em;
  background: black;
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards,
    blink 750ms steps(var(--typewriterCharacters)) infinite;
}

.subtitle, .fa, .accordion {
  color: hsl(0 0% 0% / 0.7);
  font-size: 2rem;
  font-weight: 400;
  color: black;
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
}

@keyframes typewriter {
  to {
    left: 100%;
    
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  h1{
    font-size: 1.5rem;
  }
  .subtitle{
    font-size: 1rem;
  }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}


/* GITHUB/LINKEDIN/EMAIL/PDF LOGO */

.logos{
  display: inline-block;
  justify-content: center;
  /* color: var(--linkedinBlue); */
  font-size: 1rem;
  font-weight: bold;
}

.fa{
  color: black;
  margin: 0.5rem;
}
a :hover{
  color: red;
  text-decoration: none;
}

a:visited { 
  text-decoration: none; 
}

/* ABOUT ME/SKILLS/PROJECTS SECTION */
.accordion {
  
  background-color: rgb(223, 220, 209);
  color: fff;
  cursor: pointer;
  padding: 1.075rem;
  width: 100%;
  border: none;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color:rgb(214, 49, 49);
  transition: 0.5s ease-in-out;
}

.accordion:after {
  content: '\002B';
  color: #fff;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: var(--bg-color);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

#mobile-content {
  background-color: #ddd;
  width: 100%;
}

.uofl-red {
  color: #c92027;
}

.flexbox-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.flexbox-item {
  /*flex-basis: 33%;*/
  align-self: flex-end;
}
.directions {
  text-align: center;
  min-height: 65px;
}
  
.screenshots {
  text-align: center;
}


img
{
  max-width: 100px;

}
.image{
  justify-content: center;
  float: left;
  position: relative;
  display: flex;
  width: 25%; 
  /* max-width: 100px; */
}
.image__img{
  display:block;
  width: 100%;
}

.image__overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0,0,0,0.6); */
  color: rgb(255,0,0);
  display: flex;
  flex-direction: wrap;;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
  
}
.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}
.image__overlay:hover{
  opacity: 1;
}
.image__overlay:hover >*{
  transform: translateY(0);
}
.image__title{
  font-size: 2em;
  font-weight: bold;
}
.image__description{
  font-size: 0.75em;
  margin-top: 0.25em;
}
.image__overlay--blur{
  backdrop-filter: blur(1px);
}


/* TIMELINE CSS */


:root{
  --primary-color:#425b84;
  --secondary-color:#5b7bb4;
  --max-width: 1100px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font: normal 1rem/1.5 'Ariel', sans-serif;
  /* background: var(--primary-color); */
  /* color: #fff; */
  overflow-x:hidden;
  padding-bottom: 50px;
}
#main-header{
  /* background: var(--secondary-color); */
  padding: 4rem 0;
}
.container{
  max-width: var(--max-width);
  margin: 0 auto;
  text-align: center;
}
/* h1{
  font-size: 2.3rem;
} */

#timeline ul{
  background: var(--bg-color);
  padding: 50px 0;
}
/* create line */
#timeline ul li{
list-style: none;
position: relative;
width: 6px;
margin: 0 auto;
padding-top: 50px;
background: #c92027;
}
/* boxes */
#timeline ul li div{
position: relative;
bottom: 0;
width: 400px;
padding: 1rem;
background: var(--secondary-color);
transition: all 0.5s ease-in-out;
visibility: hidden;
opacity: 0;
}
/* right side */
#timeline ul li:nth-child(odd) div{
  left: 40px;
  transform: translate(200px, 0);
}
/* left side */
#timeline ul li:nth-child(even) div{
  left: -434px;
  transform: translate(-200px, 0);
}
/* dots */
#timeline ul li::after{
  content: '';
  position: absolute;
  left: 50%;
  bottom:0 ;
  width: 25px;
  height: 25px;
  background: inherit;
  transform: translatex(-50%);
  border-radius: 50%;
  transition: background 0.4s ease-in-out;
}

/* Arrows Base */
#timeline div::before{
  content: '';
  position: absolute;
  bottom: 5px;
  width: 0;
  height: 0;
  border-style:solid;
}
/* right side arrows */
#timeline ul li:nth-child(odd) div::before{
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent var(--secondary-color) transparent transparent;
}
#timeline ul li:nth-child(even) div::before{
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent  transparent transparent var(--secondary-color);
}

/* show boxes */
#timeline ul li.show div{
  transform: none;
  visibility: visible;
  opacity: 1;
}
#timeline ul li.show:after{
  background: var(--secondary-color);

}
@media(max-width: 900px){
  #timeline ul li div{
      width: 250px;
  }
  #timeline ul li:nth-child(even) div{
      left: -284px;
  }
}
@media(max-width:600px) {
  #timeline ul li {
      margin-left: 20px;
  }
  #timeline ul li div{
      width: calc(100vw - 90px);
  }
  #timeline ul li:nth-child(even) div{
      left: 40px;
  }
  #timeline ul li:nth-child(even) div::before{
      left: -15px;
      border-width: 8px 16px 8px 0;
      border-color: transparent var(--secondary-color) transparent transparent;
  }
}


/* PROJECT SECTION */

.sub-section {
  background: #414345;
  color: black;
  display: flex;
  justify-content: space-around;
  padding: 80px;
}
.subtext{
  margin-top: 100px;
}
.project-link{
  margin-top: 10px;
}
.sub-section-alternative {
  /* background: #414345; */
  color: black;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 40px;
}

.sub-section {
  display: flex;
  justify-content: space-around;
  padding: 80px;
}

.headshot {
  width: 100px;
}
.headshot-container {
  margin-top: 130px;
  align-items: center;
}

.project-card {
  width: 300px;
  height: 500px;
  border: 1.2px solid black;
  box-shadow: 5px 5px 20px;
  margin: 10px;
}

@media only screen and (max-width: 1000px) {
  .project-container {
    display: flex;
    flex-wrap: wrap;
  }
}

.project-container {
  display: flex;
  justify-content: space-around;
}

.project-image {
  /* width: 300px; */
  width: 100%;
  /* border-radius: 120px; */
}

hr {
  margin-left: 20px;
  margin-right: 20px;
}

/* VIEW HERE BUTTON */
.project-link {
  text-decoration: none;
  color: #ef744b;

}
.project-image{
  max-width: 50%;
}




/*  */

html {
  font-family: sans-serif;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.text-center {
  text-align: center;
}

.color-white {
  color: #fff;
}

.box-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 35px 15px;
  width: 100%;
}

@media screen and (min-width:1380px) {
  .box-container {
    flex-direction: row
  }
}

.box-item {
  position: relative;
  -webkit-backface-visibility: hidden;
  width: 415px;
  margin-bottom: 35px;
  max-width: 100%;
}

.flip-box {
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  perspective: 1000px;
  -webkit-perspective: 1000px;
}

.flip-box-front,
.flip-box-back {
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  min-height: 475px;
  -ms-transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
  transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
  -webkit-transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-front {
  -ms-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-back {
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box .inner {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 60px;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;
  
  transform: translateY(-50%) translateZ(60px) scale(.94);
  -webkit-transform: translateY(-50%) translateZ(60px) scale(.94);
  -ms-transform: translateY(-50%) translateZ(60px) scale(.94);
  top: 50%;
}

.flip-box-header {
  font-size: 34px;
}

.flip-box p {
  font-size: 20px;
  line-height: 1.5em;
}

.flip-box-img {
  margin-top: 25px;
}

.flip-box-button {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin-top: 25px;
  padding: 15px 20px;
  text-transform: uppercase;
}

/* #card-id{
  color: rgb(23, 17, 8);
} */


/* FOOTER WITH COPYRIGHT */
/* .footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; */
  /* background: #263238; */
  /* text-align: center;
  color: #000000;
}

.icons{
  padding-top: 1rem; */
/* }

.icons a{
  text-decoration: none;
  font-size: 2rem;
  margin: 0.5rem;
  color: #f4f4f4;
}

.company-name{
  font-size: 0.7rem;
  margin-top: 0.5rem;
}

@media (max-width: 500px){
  html{
      font-size: 50%;
  }
}    

@media(min-width: 501px) and (max-width: 768px){
  html{
  font-size: 50%;
  }
}     */